<h1 class="intro-title">Get Started with Projectlog</h1>
<h2 class="intro-tagline">Follow these easy steps to discover all the benefits of your business tracking system. This introduction will help you get started so you can do what you like most while Projectlog ensures wheels keep turning.</h2>

<div id="intro">
	<ul>
		<li id="customers" class="step">
			<div class="step-inner">
				<h2>Customers</h2>
				<p>We all need Customers to operate so this is the starting point</p>
				<p class="buttonorange"><%= link_to '+ New Customer', new_customer_path %></p>
			</div>
		</li>
		<li id="projects"class="step">
			<div class="step-inner">
				<h2>Projects</h2>
				<p>Projects are fun wether they are Billable or Internal</p>
				<p class="buttonorange"><%= link_to '+ New Project', new_project_path %></p>
			</div>
		</li>
		<li id="time" class="step">
			<div class="step-inner">
				<h2>Time Tracking</h2>
				<p>Timesheet should be easy & speedy. Same goes with reporting</p>
				<p class="buttonorange"><%= link_to '+ New Activity', new_activity_path %></p>
			</div>
		</li>
		<li id="invoice" class="step">
			<div class="step-inner">
				<h2>Invoices</h2>
				<p>Get rewarded. Send invoices to customers and track payments</p>
				<p>Coming soon...</p>
			</div>
		</li>
	</ul>
</div>