<div id="introduction">
  <h1>Get Started</h1>
  <div id="lesson">
	<ul>
		<li class="customers">Customers</li>
		<li class="projects">Projects</li>
		<li class="time">Time Tracking</li>
		<li class="invoice">Invoices</li>
	</ul>
  </div>
</div>