<ul id="sub-menu">
  <li class="buttonorange"><%= link_to '+ New Customer', new_customer_path %></li>
  <li class="buttonorange"><%= link_to '+ New Project', new_project_path %></li>
</ul>

<%= content_tag(:p, ("You have " + (link_to pluralize(current_user.invoices.overdue.size, 'invoice') + ' overdue', overdue_invoices_path, remote: true)).html_safe, :class => 'warning') if current_user.invoices.overdue.any? %>