<% if current_user.projects.any? %>
  <%= render :partial => 'submenu' %>

  <div id="quick-activity">
    <%= render :partial => 'activities/quick' %>
  </div>

  <%= render :partial => 'activities/recent' %>
  
<% else %>
  <%= render :partial => 'introduction' %>
<% end %>