<%= div_for @announcement do %>
  <%= markdown(@announcement.message) %>
  <%= form_tag hide_announcement_path(@announcement), :method => :put do %>
    <span class="submit"><%= submit_tag "OK. Hide this message" %></span>
  <% end %>
<% end %>
