<h1>Access logs for Troubleshooting and Monitoring purpose</h1>

<div id='log-disclaimer'>
  <p>First make sure server is listeninig</p>
  <p><code>clarity --username=**** --password=***** --port=8989 log</code></p>
  <a href="http://0.0.0.0:8989" class="submit" target="_blank">View logs</a>
</div>