<h1>Application logs</h1>

<div id='log-disclaimer'>
  <p>First make sure server is listening</p>
  <p><code>clarity --username=**** --password=***** --port=8989 log</code></p>
  <a href="http://0.0.0.0:8989" class="buttonorange" target="_blank">View logs</a>
</div>