<h1>Application logs</h1>

<div id='log-disclaimer'>
  <p>First make sure server is listening</p>
  <p><code>clarity -b 50.56.203.46 --username=**** --password=***** --port=8989 log</code></p>
  <a href="http://50.56.203.46:8989" class="buttonorange" target="_blank">View logs</a>
</div>