<table class="activities">
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= distance_of_time_in_words_to_now(invoice.due_date) + ' late' %></td>
      <td><%= invoice.customer.name %></td>
      <td><%= link_to number_to_currency(invoice.balance), invoice_path(invoice) %></td>
    </tr>
  <% end %>
</table>