<div class="no-occurence">
  <p>Ahhhh! Invoices are not quite ready yet and will be shipped in release 2.<br />Stay tuned.</p>
  <p>If you wish to provide feedback please email <%= mail_to("support@getprojectlog.com") %></p>
</div>