<% if current_user.invoices.empty? %>
  <div class="no-occurence">
     <p>Add a new <%= link_to 'Invoice', new_invoice_path %></p>
  </div>
<% else %>

  <ul id="sub-menu">
    <li class="buttonorange"><%= link_to '+ New Invoice', new_invoice_path %></li>
  </ul>

  <div id="invoices">
    <%= render 'invoices/invoices' %>
  </div>
<% end %>