body { 
color: #333;
margin: 0;
padding: 0;
background-color: #d8d8d8;
background: url("/images/background.jpg");
}

body, p, ol, ul, td, h2 {
font-family: 'Lucida Grande', Lucida, Verdana, sans-serif;
font-size: 13px;
line-height: 18px;
}

a { color: #333; }
a:visited { color: #333; }
a:hover { color: #eaeaea; background-color:#333; }

div.field, div.actions {
margin-bottom: 10px;
}

h1 {
font-size: 20px;
letter-spacing: -1px;
}

h2 {
font-size: 14px;
margin: 0px 0px 2px;
padding: 0px;
}

img {
border: none;
}

.notice {
background-color: #ddfab9;
border: 1px solid #c3e09f;
color: #617f41;
padding: 4px;
margin-bottom: 10px;
}

.alert {
background-color: #FFE3E2; #FFEBE8; #ffcdd3;
border: 1px solid #EFB1AF; #b10000; #8a0000;
color: #C00; #b10000;
padding: 4px;
margin-bottom: 20px;
}

.info {
border: 1px solid #BEDCE7;
padding: 3px;
background: #EAF2F5 url('/images/info_background.gif') repeat;
}

p.info {
padding-left: 4px;
font-size: 11px;
}

.field_with_errors {
padding: 2px;
background-color: #ff6666;
display: table;
}

#error_explanation {
border: 2px solid red;
padding: 7px;
padding-bottom: 0;
margin-bottom: 10px;
background-color: #f0f0f0;
}

#error_explanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
margin-bottom: 0px;
background-color: #c00;
color: #fff;
}

#error_explanation ul li {
font-size: 12px;
list-style: square;
}

/* Site structure */
header {
background: url('/images/header.jpg') #000;
padding: 10px;
height: 125px;
display: block;
border-bottom: 1px solid white;
}

.subhead {
width: 880px;
padding-left: 0px;
padding-right: 10px;
margin-left: auto;
margin-right: auto;
display: block;
margin-top:10px;
}

.subhead a {
color: #fff;
text-decoration: none;
}

.subhead h1 {
text-align: left;
padding-left: 54px;
}

.subhead li {
text-decoration: none;
display: inline;
text-align: right;
}

#header-logo {
float: left;
}

#logo {
float: left;
}

#username {
font-weight: bold;
color: #666;
}

#user-info {
float: right;
text-align: right;	
}

#user-info a {
color: #fff;
text-decoration: none;
padding: 2px;	
}

#user-info a:hover {
background-color: orange;
border-radius: 2px;
-moz-border-radius: 2px;
text-decoration: none;	
}

/* Navbar */
#navbar {
display: block;
-moz-border-radius: 4px;
border-radius: 4px;
background: url('/images/tab_background.gif') repeat-x 0px 0px;
}

#menu {
width: 880px;
margin-left: auto;
margin-right: auto;
padding-left: 10px;
padding-right: 10px;
-moz-border-radius: 3px;
border-radius: 3px;
text-shadow: rgba(255, 255, 255, 0.699);
font-size: 14px;
font-family: helvetica,arial,freesans,clean,sans-serif;
}

#menu ul {
padding: 0;
margin: 0;
font-size: 14px;
}

#menu li {
height: 38px;
line-height: 38px;
padding-right: 10px;
display: inline;
list-style: none;
color: #333;
}

#menu li a {
text-decoration: none;
padding: 6px;
font-size: 14px;
color: #333;
text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0px;
}

#menu li a:active {
text-decoration: none;
color: #000;
background-color: #fff;
}

#menu li a:visited {
text-decoration: none;
color: #333;
}

#menu li a:hover {
background-color: #CCC;
text-decoration: none;
border-radius: 3px;
-moz-border-radius: 3px;
}

.current {
background-color: #fff;
text-decoration: none;
border-radius: 3px;
-moz-border-radius: 3px;
font-weight: bold;
padding: 6px;
border: 1px solid #b5b5b5;
border-right: #e2e2e2;
border-bottom: #e2e2e2;
}

#main-content {
min-height: 800px; /* change this to avoid scrollbar issue with ajax new#transactions */
background-color: #ffffff;
width: 900px;
margin-top: -30px;
margin-left: auto;
margin-right: auto;
padding-left: 6px;
padding-right: 6px;
padding-top:10px;
display: block;
-moz-border-radius-topleft: 9px;
-moz-border-radius-topright: 9px;
border-top-left-radius: 9px;
border-top-right-radius: 9px;
}

#content {
width: 880px;
padding-top: 15px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
display: block;
}

.block {
clear: both;
margin-bottom: 15px;
margin-left: auto;
margin-right: auto;
}

#column_left {
float: left;
width: 49%;
padding-right: 6px;
}

#column_right {
float: right;
width: 49%;
padding-left: 6px;
}

.no-occurence {
background-color: #fffdc1;
text-align: center;
border: 2px solid #dad8a0;
border-radius: 9px;
-moz-border-radius: 9px;
padding: 12px;
line-height: 300%;
font-size: 15px;
margin-bottom: 20px;
}

.no-occurence p {
font-size: 16px;
}

#activities {
padding-top: 30px;
clear: right;
}

.clear {
clear: both;
}

.occurence {
border: 1px solid #d8d8d8;
border-radius: 5px;
margin-bottom: 20px;
margin-right: 20px;
padding: 14px;
-moz-box-shadow: 0px 0px 6px #e2e2e2;
-webkit-box-shadow: 0px 0px 6px #e2e2e2;
box-shadow: 0px 0px 6px #e2e2e2;
width: 380px;
height: 120px;
float: left;
}

.occurence:hover {
-moz-box-shadow: 0px 0px 6px #999;
-webkit-box-shadow: 0px 0px 6px #999;
box-shadow: 0px 0px 6px #999;
cursor: pointer;
}

#summary {
height: 120px;
margin-top:20px;
margin-bottom: 20px;
}

.summary-box {
width: 19%;
float: left;
text-align: center;
font-size: 15px;
font-weight: bold;
border-left: 1px dashed grey;
}

.summary-box-no-border {
width: 19%;
float: left;
text-align: center;
font-size: 15px;
font-weight: bold;
}

.summary-box-no-border li {
text-decoration: none;
list-style: none;
line-height: 300%;
}

.income {
color: #46a106;
font-weight: bold;
font-size: 20px;
}

.expense {
color: #b10000;
font-weight: bold;
font-size: 20px;
}

/* Customer */
#customer_note {
word-wrap: break-word;
}

#customer-info {
}


/* Contact */
#contacts {
clear: both;
padding-top: 30px;
}

.contact-info {
border: 1px solid #d8d8d8;
border-radius: 5px;
margin-bottom: 20px;
margin-right: 20px;
padding: 14px;
-moz-box-shadow: 0px 0px 6px #e2e2e2;
-webkit-box-shadow: 0px 0px 6px #e2e2e2;
box-shadow: 0px 0px 6px #e2e2e2;
width: 380px;
height: 120px;
float: left;
}

/* Project */
#open-projects {
width: 880px;
margin-left: auto;
margin-right: auto;
}



#closed-projects {
clear: both;
padding-top: 10px;
}

#activity_search {
display: none;
background-color: #EAEAEA;
padding: 4px;
margin-bottom: 20px;
}

form #activity_search {
margin-bottom: 0;
}

/*Add transaction*/
.tab-header {
background-color: #333;
color: #EAEAEA;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
padding: 4px;
}

.tab-header h2 {
font-size: 16px;
height: 32px;
line-height: 32px;
padding-left: 4px;
font-family: 'Lucida Grande', Lucida, Verdana, sans-serif;
-webkit-font-smoothing: antialiased;
}

.tab-content {
background-color: #ededed;
border: 1px solid #333;
}

#new_transaction input {
margin-bottom: 8px;
}

#new_transaction .submit input {
margin-top: 8px;
margin-bottom: 4px;
}

#type {
padding: 6px;
clear: both;
}

#date {
float: left;
padding: 6px;
}

#description {
float: left;
padding: 6px;
}

#numbers {
float: left;
padding: 6px;
background-color: #d8d8d8;
}

#optional {
background-color: #fff;
padding: 6px;
clear: both;
}

.largebuttonorange {
padding: 10px;
background-color: #ff9300;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
text-decoration: none;
font-size: 14px;
color: #666;
font-weight: bold;
}

.largebuttonorange:hover {
padding: 10px;
background-color: #ff8000;
-webkit-border-radius: 6px;
text-decoration: none;
font-size: 14px;
color: #fff;
}

#manage-categories {
font-size: 11px;
}

/* Categories*/
#categories-list {
padding-left: 15px;	
}

#categories-list li {
line-height: 160%;
list-style: square;
}

#categories-list li .name {
margin-right: 10px;
}

#categories li .name:hover {
background-color: #fffdc1;
}

#categories li .name:active {
background-color: none;
}

#categories-list form submit {
margin-left: 20px;
}

.field-section a:hover {
background-color: #333333;
color: #eaeaea;
}

.actions {
clear: both;
margin-top: 10px;
}

/* Show transactions */
#receipt-top {
background: url("../images/top.gif") repeat-x #5ccccc;
top: -3px;
padding-top: 10px;
padding-left: 8px;
padding-right: 8px;
width: 300px;
-webkit-box-shadow: 4px 2px 6px #888;
-moz-box-shadow: 4px 2px 6px #888;
box-shadow: 4px 2px 6px #888;
}

#receipt-bottom {
background: url("../images/bottom.gif") repeat-x;
bottom: -6px;
height: 3px;
margin-bottom: 20px;
width: 318px;
}

/* Pagination */
.pagination {
font-weight: bold;
padding: .3em;
padding-left: 0; 
}

.pagination a, .pagination span, .pagination em {
padding: .2em .5em ; 
}
.pagination span.disabled {
color: #999;
padding-left: 0;
}
.pagination em {
border: 1px solid #D8D8D8;
font-weight: bold;
color: #4183C4;
font-style: normal;
}
.pagination a {
border: 1px solid #D8D8D8;
color: #333;
text-decoration: none;
font-weight: normal; 
}
.pagination a:hover, .pagination a:focus {
border-color: #eaeaea;
color: #EAEAEA;
background-color: #333;
}
.pagination .page_info {
color: #aaa;
padding-top: .8em; 
}
.pagination .prev_page, .pagination .next_page {
border-width: 1px;
}
.pagination .prev_page, a.previous_page {
margin-right: 1em; 
}  
.pagination .next_page {
margin-left: 1em; 
}

/* This is a table */
table {
border: 1px solid #D8D8D8;
font-size: 90%;
margin-bottom: 1em;
width: 100%;
border-spacing: 0px;
}

tbody {
border-color: inherit;
display: table-row-group;
vertical-align: middle;
}

table th {
background-color: #EAEAEA;
border-bottom: 1px solid #D8D8D8;
color: #999;
font-weight: normal;
padding: 0.5em 0.3em;
text-align: left;
font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

table tr {
border-color: inherit;
display: table-row;
vertical-align: inherit;
background: #F8F8F8 url("../images/row_bg.png") repeat-x 0px 100%;
border-bottom: 1px solid #E1E1E1;
color: #484848;
}

table td {
font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
padding: 0.5em 0.3em;
}

table td a:hover {
text-decoration: underline;
background-color: inherit;
color: #4183C4;
}

table td a {
color: #4183C4;
text-decoration: none;
}

table td a:visited  {
color: #4183C4;
text-decoration: none;
}

table th .current {
color: #999;
background-repeat: no-repeat;
background-position: right center;
padding-right: 17px;
padding-left: 0;
background-color: #eaeaea;
font-weight: normal;
}

table th .asc {
background-image: url('../images/arrow-up.png');
}

table th .desc {
background-image: url('../images/arrow-down.png');
}

tr.total th {
border-top: 1px solid #D8D8D8;
font-weight: bold;
color: #484848;
border-bottom: none;
}

td.date {
width: 130px;
}

td.time {
width: 48px;
}

td.description {

}

td.actions {
width: 50px;
}

/* Single page layout */
.dialog {
width: 440px;
padding: 15px 30px;
margin: 4em auto 0 auto;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
-webkit-box-shadow: #999 0px 0px 6px;
-moz-box-shadow: #999 0px 0px 6px;
box-shadow: #999 0px 0px 6px;
display: block;
}

.dialog a {color: green; text-decoration: none;}
.dialog a:hover {color: green; text-decoration: underline; background: none;}
.dialog a:visited {color: green; text-decoration: none;}

.dialog h2 {
font-size: 14px;
margin: 0px 0px 2px;
padding: 0px;
}

.dialog input {
width: 275px;
margin-bottom: 10px;
}

/* Form */
input {
font-size: 14px;
margin-bottom: 20px;
padding: 3px;
}

.actions input {
width: auto;
}

.field-section {
background-color: #e0d0ea;
padding: 10px;
margin-bottom: 14px;
position: relative;
}

#account_fiscal_end_day, #account_fiscal_end_month, #account_localization {
margin-bottom:10px;
}

/* Submit button */
.submit input {
-moz-border-radius:15px 15px 15px 15px;
-moz-box-sizing:content-box;
-webkit-box-sizing: content-box;
-webkit-border-radius: 15px;
border:1px solid #BBBBBB;
color:#464646;
background:url("/images/white-grad.png") repeat-x scroll left top #F2F2F2;
cursor:pointer;
font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
font-size:14px !important;
line-height:16px;
padding:6px 12px;
text-decoration:none;
width: auto;
}

.submit input:hover {
border-color: #666;
color: black;
}

.submit input:active {
background: #EEE url("/images/white-grad-active.png") repeat-x scroll 0% 0%;
}

.extra {
border-top: 1px dashed #d8d8d8;
padding-top: 10px;
margin-bottom: 10px;
font-size: 12px;
}

.extra a {color: #03C;}
.extra a:hover {color: #03C;}
.extra a:visited {color: #03C;}


/* Settings tabs */
#settings {
border-top: 1px solid #000;
}

#global .field-section input {
margin-bottom: 0;
}

select {
margin-bottom: 20px;	
}

#settings .column {
float: left;
width: 50%;
margin: auto;
}

/* Reports */
#report_chart {
height:200px;
}