Hi <%= @subscription.user.first_name %>,

<p>Your credit card has been declined. Please update credit card by clicking the link below to reactivate your subscription again.</p>

<p><%= link_to modify_subscriptions_url, modify_subscriptions_url %></p>

<p>Feel free to contact us if your require assistance.</p>

<p>Sincerely,</p>

<b>The Projectlog Team</b>