Hi <%= @subscription.user.first_name %>,

<p>thank you for subscribing to Projectlog. It means a lot to us.</p>

<p>Soon you will receive your payment confirmation for your record. Your billing information and payment history is accessible at <%= current_subscriptions_url(:host => "projectlogapp.com", :protocol => 'https') %></p>

<p>Feel free to contact us if your require assistance.</p>

<p>Sincerely,</p>

<b>The Projectlog Team</b>