Hi <%= @user.first_name %>,

<p>You have <%= Settings['subscriptions.alert_trial_expire'] %> trial days left.</p>

<p>Feel free to contact us if your require assistance.</p>

<p>Sincerely,</p>

<b>The Projectlog Team</b>