Hi <%= @subscription.user.first_name %>,

<p>this is to confirm your recent subscription change.</p>

<p>For security reason details are not listed but you can always access your billing information and payment history at <%= current_subscriptions_url(:protocol => 'https') %></p>

<p>Feel free to contact us if your require assistance.</p>

<p>Sincerely,</p>

<b>The Projectlog Team</b>