<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Code</th>
  </tr>
  
  <% @user.subscription_transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.created_at.strftime("%d-%m-%Y %H:%M") %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.code %></td>
  </tr>
  <% end %>
</table>