<%= form_for @customer do |f| %>

  <div id="customer-note">
    <p id="description-intro">Note (<a href="http://getprojectlog.com/help/knowledgebase/markdown/?src=app" target="_blank">Markdown accepted</a>)
	  <span class="small submit"><%= f.submit "Save" %></span>
    <span style="height: 100px"><%= f.text_area :note, :id => "note" %></span>
  </div>

<% end %>