<ul id="sub-menu">
	<%= link_to 'â† All Customers', customers_path %> | 
	<%= link_to 'Edit', edit_customer_path %> | 
    <%= link_to 'Destroy', @customer, :confirm => 'Are you sure?', :method => :delete %>
	<li class="buttonorange"><%= link_to '+ New Customer', new_customer_path %></li>
</ul>