<% if @customer.valid? %>
  $("#intro").html('<%= escape_javascript render(:partial => 'dashboard/introduction') %>');
  $("#project_customer_id").html('<%= escape_javascript options_from_collection_for_select(current_user.customers.all, :id, :name, @customer.id) %>');
  $("#new_customer_dialog").dialog("close");
<% else %>
   $('<div id="customer-error"></div>')
	.html('<div class="alert">Please fix the following errors: <br /><%= escape_javascript @customer.errors.full_messages.to_sentence %></div>')
	.dialog({
		autoOpen: true,
		buttons: { 'OK' : function(){ $(this).dialog("close"); } },
		show: "fade",
		hide: "fade",
    });
<% end %>