<% if current_user.customers.empty? %>
   <p>1- Create your first customer</p>
<% end %>

<% if current_user.projects.any? %>
  <%= render :partial => 'activities/quick' %>
<% else %>
  <p>2- Create your first project</p>
<% end %> 

<% if current_user.activities.any? %>
  <h1>Recent Activities</h1>
     <%= render :partial => 'activities/recent' %>
<% else %>
  <p>3- Track Time</p> 
<% end %>