<% if @customer.contacts.empty? %>
  <div id="no-contact" class="no-occurence">
     <p>Add a new <%= link_to 'Contact', new_customer_contact_path(@customer), :remote => true %></p>
  </div>
<% else %>

  <h1>Contacts</h1>
     <% for contact in @customer.contacts %>
     <%= render :partial => "contacts/contact", :locals => { :contact => contact } %>
<% end %>

<p id="new_contact_link" class="clear"><%= link_to 'New Contact', new_customer_contact_path(@customer, :format => :js), :remote => true %></p>

<% end %>
