<% if @customer.contacts.empty? %>
  <div class="no-occurence">
     <p>No contacts found. Add a new <%= link_to 'Contact', new_customer_contact_path(@customer) %></p>
  </div>
<% else %>

<h1>Connections</h1>

<div id="contacts">
<% for contact in @customer.contacts %>
  <%= render :partial => "contacts/contact", :locals => { :contact => contact } %>
<% end %>
</div>

<p id="new_contact_link" style="clear:both"><%= link_to 'Add Contact', new_customer_contact_path(@customer) %> | <%= link_to 'New contact AJAX', new_customer_contact_path(@customer, :format => :js), :remote => true %></p>

<% end %>
