<% if @contact.valid? %>
  $("#contacts").html("<%= escape_javascript render(:partial => 'contacts/contacts') %>");
  $("#new_contact_dialog").dialog("close");
  $("#no-contact").remove();
<% else %>
   $('<div id="contact-error"></div>')
		.html('<div class="alert">Please fix the following errors: <br /><%= escape_javascript @contact.errors.full_messages.to_sentence %></div>')
		.dialog({
			autoOpen: true,
			buttons: { 'OK' : function(){ $(this).dialog("close"); } },
			show: "fade",
			hide: "fade",
    });
<% end %>