$('<div id="new_contact_dialog"></div>')
		.html('<%= escape_javascript render(:partial => 'fields.js') %>')
		.dialog({
			autoOpen: true,
			modal: true,
			buttons: { 'Update Contact' :  function(){ $(this).find("form").submit(); }, 'Cancel' : function(){ $(this).dialog("close"); } },
			show: "fade",
			hide: "fade",
			width: 420
    });