$("#contact_dialog").remove(); // Remove the dialog in case it's been created before so we can create a new one with the same id.
$('<div id="contact_dialog"></div>')
		.html('<%= escape_javascript render(:partial => 'fields.js') %>')
		.dialog({
			autoOpen: true,
			modal: true,
			buttons: { 'Update Contact' :  function(){ $(this).find("form").submit(); }, 'Cancel' : function(){ $(this).dialog("close"); } },
			show: "fade",
			hide: "fade",
			width: 420
    });