<%= form_for(@project, :url => project_path, :method => :post) do |f| %>

  <div id="project-description">
    <p id="description-intro">Description (<a href="#">Markdown accepted</a>) <span class="small submit"><%= f.submit "Save" %></span></p>
    <%= f.text_area :description, :id => "description" %>
  </div>

<% end %>