<%= form_for(@project, :url => project_path, :method => :post) do |f| %>

  <div id="project-description">
    <p id="description-intro">Description (<a href="#">markdown accepted</a>) <span class="small submit"><%= f.submit "Save" %></span>
    <%= f.text_area :description %>
  </div>

<% end %>