<% if current_user.projects.empty? %>
  <div class="no-occurence">
     <p>Add a new <%= link_to 'Project', new_project_path %></p>
  </div>
<% else %>

   <% if @open_projects.empty? %>
     <div class="no-occurence">
        <p>No Open Projects</p>
     </div>
   <% else %>
     <%= render :partial => 'projects/open' %>
   <% end %>

<p class="clear"><%= link_to 'New Project', new_project_path %></p>

   <% if !@closed_projects.empty? %>
       <p id="closed_projects_toggle">
	      <a href="#">Show/Hide Closed Projects</a></p>
     <%= render :partial => 'projects/closed' %>
   <% end %>
<% end %>

<script>
$("#closed_projects_toggle").click(function (e) {
  $("#closed-projects").slideToggle("slow");
  e.preventDefault();
});
</script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$(".occurence").click(function(){
	  window.location=$(this).find("a").attr("href"); return false;
	});
});
</script>