<% if current_user.projects.empty? %>
  <div class="no-occurence">
     <p>Add a new <%= link_to 'Project', new_project_path %></p>
  </div>
<% else %>

   <% if @open_projects.empty? %>
     <div class="no-occurence">
        <p>No Open Projects</p>
     </div>
   <% else %>
     <ul id="sub-menu">
		<li class="buttonorange"><%= link_to '+ New Project', new_project_path %>
	</ul>

     <div id="open-projects">
       <%= render :partial => 'projects/open' %>
     </div>
   <% end %>


   <% if !@closed_projects.empty? %>
	 <a href="#" id="show_closed" style="display:none" onclick="$('#closed-projects').show('slow'); $('#show_closed_').hide('slow');">Show Closed Projects</a>  
     <%= render :partial => 'projects/closed' %>
   <% end %>
<% end %>


<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$(".card-inner").click(function(){
	  window.location=$(this).find("a").attr("href"); return false;
	});
});
</script>