$("#send_report_email_dialog").remove();
$('<div id="send_report_email_dialog"></div>')
		.html('<%= escape_javascript render("form") %>')
		.dialog({
			autoOpen: true,
			modal: true,
			title: 'Share this report via email',
			buttons: { 'Send' :  function(){
			     $(this).find("form .status_indicator").html("<p>Sending <%= escape_javascript image_tag("indicator.gif") %></p>");
			     $(this).find("form").submit(); 
			     // disable the Send button
			     $(this).parent().find("button:contains('Send')").button("disable");
			  }, 
			  'Cancel' : function(){ $(this).dialog("close"); }
			},
			show: "fade",
			hide: "fade",
			width: 420
    });
