<div id="intro">
	<ul>
		<li class="step">
			<div class="step-inner">
				<h2>Today</h2>
				<p class='revenues'>$ 100.00</p>
			</div>
		</li>
		<li class="step">
			<div class="step-inner">
				<h2>This Week</h2>
				<p class='revenues'>$$$</p>
			</div>
		</li>
		<li class="step">
			<div class="step-inner">
				<h2>This Month</h2>
				<p class='revenues'>$$$</p>
			</div>
		</li>
		<li class="step">
			<div class="step-inner">
				<h2>Total</h2>
				<p class='revenues'>$$$</p>
			</div>
		</li>
	</ul>
</div>