$("#payments_dialog").remove();
$('<div id="payments_dialog"></div>')
.html('<%= escape_javascript render(:partial => "payments") %>')
.dialog({
autoOpen: true,
modal: true,
title: 'Payments',
buttons: { 'Close' : function(){ $(this).dialog("destroy").remove(); } },
show: "fade",
hide: "fade",
width: 420,
close: function(event, ui) { $(this).remove(); }
});
