$("#edit_payment_dialog").remove();
$('<div id="edit_payment_dialog"></div>')
.html('<%= escape_javascript render(:partial => 'fields.js') %>')
.dialog({
autoOpen: true,
modal: true,
title: 'Edit Payment',
buttons: { 'Update Payment' : function(){ $(this).find("form").submit(); }, 'Cancel' : function(){ $(this).dialog("close"); } },
show: "fade",
hide: "fade",
width: 420
});