$("#new_payment_dialog").remove();
$('<div id="new_payment_dialog"></div>')
.html('<%= escape_javascript render(:partial => 'fields') %>')
.dialog({
autoOpen: true,
modal: true,
title: 'Add Payment',
buttons: { 'Create Payment' : function(){ $(this).find("form").submit(); }, 'Cancel' : function(){ $(this).dialog("destroy").remove(); } },
show: "fade",
hide: "fade",
width: 420,
close: function(event, ui) { $(this).remove(); }
});