<% if @payment.valid? %>
  <%= render "status_update" %>
  $("#edit_payment_dialog").dialog("close");
  <%= render "index" %>
<% else %>
  $('<div id="payment-error"></div>')
  .html('<div class="alert">Please fix the following errors: <br /><%= escape_javascript @payment.errors.full_messages.to_sentence %></div>')
  .dialog({
    autoOpen: true,
    buttons: { 'OK' : function(){ $(this).dialog("close"); } },
    show: "fade",
    hide: "fade",
  });
<% end %>