.new_activity .hide_activity_form {
	float: right;
}

/* Activities */
#time-entries {
	clear: both;
}

#quick-activity, #billable-activities {
	margin-bottom: 45px;
}

#_project_id {
	width: 103px;
}

/* Quick activity */
/* Firefox fix */
#activity-fields input {
	font-size: inherit;
}	

input#new_activity_date {
	max-width: 96px;
}

input#activity_description {
	max-width: 520px;
}

/* Activity new */
/* Firefox fix */
input#description {
	max-width: 555px;
}