/* Table */
.admin {
font-size: 90%;
}

.admin td {
font-size: 12px;
}

/* Dashboard cards */
.step-inner {
height: auto;
}

#intro li {
height: auto;
}

p.revenues {
font-weight: bold;
font-size: 25px;
}