.announcement {
  border: 3px solid #FCED3A;
  background: #FCFFB4;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
  form {
    margin: 0px;
  }
  
  input {
    margin: 20px 0 0;
  }
}