@import "variables";

/* Introduction */
.intro-title {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 20px;
	color: #2c2d31;
}

.intro-tagline {
	text-align: center;
	font-size: 18px;
	line-height: 26px;
	color: #a4a5aa;
	border-bottom: 1px solid #ededf3;
	padding-bottom: 25px;
	margin-bottom: 35px;
	font-weight: normal;
}

#intro ul {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	width: 910px;
}

#intro li {
	display: inline;
	float: left;
	width: 202px;
	height: 207px;
	margin: 0 10px 60px 0;
	overflow: hidden;
}

.step {
	background: #f1f1f3;
	@include rounded-corners(3px);
	padding: 5px;
}

.step-id {
	font-style: italic;
}

.step-inner {
	background: white;
	height: 180px;
	border: 1px solid #cbcecf;
	@include rounded-corners(2px);
	padding: 25px 23px 0 23px;
	text-align: center;
	
	h2 { font-size: 20px; }
}

.check {
	padding-top: 13px;
}

/* Chart */
$container_width: 125px;
$container_height: 100px;
$circle_size: 18px;

.google_chart {
	//border: 1px dashed red;  
}

.empty_pie_chart {
	//border: 1px dashed red;
	width: $container_width;
	height: $container_height;
	position: relative;

	div {
		position: absolute;
		top: ($container_height - $circle_size) / 2;
		left: ($container_width - $circle_size) / 2;
		height: $circle_size;
		width: $circle_size;
		@include rounded-corners($circle_size / 2);    
		background-color: #2c2d31;
		-webkit-font-smoothing: subpixel-antialiased;
	}
}

.pie_chart {
	width: $container_width;
	-webkit-font-smoothing: subpixel-antialiased;
	margin-left: auto;
	margin-right: auto;
	float: left;
	h2, h4 {
		text-align: center;
	}
	h2 {
		font-weight: normal;
	}
}