@import "variables";
@import "table";

#invoices {
	margin-top: 30px;
}

#add_new_invoice_line {
	width: 70px;
}

#invoice_note {
	width: 100%;
}

.full-width {
    width: 100%;
}

.table {
	margin-bottom: 20px;
	width: 100%;
	border-spacing: 0px;
    display: table;

    div.fields {
        display: table-row;
    }

    .tr {
        display: table-row;
    }

    .td, .th {
       display: table-cell;
	   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .th {
        background-color: #f5f5f5;
        border-bottom: 1px solid #e5e5e5;
        color: #777;
        font-weight: normal;
        padding: 0.5em 0.3em;
        text-align: left;

        .sort {
            color: #999;
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 17px;
            padding-left: 0;
            background-color: #eaeaea;
            font-weight: normal;
        }

        .asc {
            background-image: image-url("arrow-up.png");
        }

        .desc {
            background-image: image-url("arrow-down.png");
        }
      }

    .td {
        padding: 0.5em 0.3em;

        a {
            color: #4183C4;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                background-color: inherit;
                color: #4183C4;
            }
            &:visited {
                color: #4183C4;
                text-decoration: none;
            }
        }
    }
}
div.td.actions {
	width: 15px;
}

div.separation {
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 10px;
}

input.label_field {
    border: none;
    background: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.item-quantity {
	width: 70px;
}

input.item-price {
	width: 88px;
}

.td.item-subtotal {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
}

table#total {
	font-weight: bold;
	text-align: right;
}

#total tbody tr td {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#line_items_list {
	margin-top: 60px;
	margin-bottom: 50px;
	clear: both;
}

#invoice_line_items td, #invoice_line_items th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#invoice_line_items td {
    vertical-align: top;
}

#invoice_line_items tr td.first-row { padding-top: 20px; }

#invoice_line_items .line_item {
    cursor: move;
}

.no-drag {
    cursor: auto !important;
}

tr.total-fields { font-weight: bold; }

.i_total {
	text-align: right;
	padding-right: 10px;
	width: 100px;
}

#i_type { width: 60px; }
#i_description { width: auto; }
#i_price, #i_qty, #i_subtotal { width: 80px; }

input#invoice_discount {
	width: 60px;
	margin-bottom: 0;
}

#invoice-status {
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 4px;
	margin-left: 6px;
	margin-top: -2px;
	position: absolute;
    @include rounded-corners(3px);
}

#invoice-status-index {
	padding: 4px;
    @include rounded-corners(3px);	
}

span.invoice.draft {
    background: #f5f5f5;
}

span.invoice.sent {
    background: #eaf2f5;
}

span.invoice.partial-payment {
    background: #fffff3;
}

span.invoice.paid {
    background: #e0faec;
}

#companies {
	float: right;
}

div.company-info, div.customer-info {
    width: 300px;
    border: solid 1px #e5e5e5;
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
    clear: both;
}

div.company-info { float: right; }

textarea.invoice-sig-area {
    width: 430px;
}

#inv_note {
	margin-top: 10px;
	padding: 10px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #f5f5f5;
	margin-bottom: 50px;
}

@media print {
    header, nav, .no-print, #invoice-status { display: none !important; }
    div.invoice.sent, div.invoice.partial-payment, div.invoice.paid {
        background: transparent;
    }
    body, #content, #main-content {
        background: #fff;
    }
    a.no-print {
        color: #fff;
    }
}

.hidden {
    display: none !important;
}