@import "variables";

#invoices {
	margin-top: 30px;
}

#add_new_invoice_line {
	width: 70px;
}

#invoice_note {
	width: 100%;
}

.full-width {
    width: 100%;
}

.table {
	margin-bottom: 20px;
	width: 100%;
	border-spacing: 0px;
    display: table;

    div.fields {
        display: table-row;
    }

    .tr {
        display: table-row;
    }

    .td, .th {
       display: table-cell;
	   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;       
    }

    .th {
        background-color: #eaeaea;
        border-bottom: 1px solid #d8d8d8;
        color: #999999;
        font-weight: normal;
        padding: 0.5em 0.3em;
        text-align: left;

        .sort {
            color: #999;
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 17px;
            padding-left: 0;
            background-color: #eaeaea;
            font-weight: normal;
        }

        .asc {
            background-image: image-url("arrow-up.png");
        }

        .desc {
            background-image: image-url("arrow-down.png");
        }
      }

    .td {
        padding: 0.5em 0.3em;

        a {
            color: #4183C4;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                background-color: inherit;
                color: #4183C4;
            }
            &:visited {
                color: #4183C4;
                text-decoration: none;
            }
        }
    }
}
div.td.actions {
	width: 15px;
}

div.separation {
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 10px;
}

input.label_field {
    border: none;
    background: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.item-quantity {
	width: 70px;
}

input.item-price {
	width: 88px;
}

.td.item-subtotal {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table#total {
	font-weight: bold;
	text-align: right;
}

#total tbody tr td {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#invoice_line_items td, #invoice_line_items th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.align_right {
	text-align: right;
	padding-right: 12px;
	font-weight: bold;
}

input#invoice_discount {
	width: 60px;
	margin-bottom: 0;
}

#invoice-status {
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 4px;
	margin-left: 6px;
	margin-top: -2px;
	position: absolute;
    @include rounded-corners(3px);
}

#invoice-status-index {
	padding: 4px;
    @include rounded-corners(3px);	
}

span.invoice.draft {
    background: #f3f3f3;
}

span.invoice.sent {
    background: #eaf2f5;
}

span.invoice.partial-payment {
    background: #fffff3;
}

span.invoice.paid {
    background: #e0faec;
}

#companies {
	float: right;
}

div.company-info, div.customer-info {
    width: 300px;
    float: right;
    border: solid 1px #cbcecf;
    background: #f3f3f3;
    padding: 10px;
    margin-bottom: 10px;
}

textarea.invoice-sig-area {
    width: 430px;
}

@media print {
    header, nav, .no-print, #invoice-status { display: none !important; }
    div.invoice.sent, div.invoice.partial-payment, div.invoice.paid {
        background: transparent;
    }
    body, #content, #main-content {
        background: #fff;
    }
    a.no-print {
        color: #fff;
    }
}

.hidden {
    display: none !important;
}