@import "variables";

body { 
	background: #f2f2f2;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
}

#container {
	width:640px;
	margin-top:4em;
	margin-left:auto; 
	margin-right:auto;
 }

.dialog, .focus {
	width: 340px;
    padding: 15px 30px;
    @include rounded-corners(5px);
    background-color: #fff;
    -webkit-box-shadow: #999 0px 0px 6px;
    -moz-box-shadow: #999 0px 0px 6px;
    box-shadow: #999 0px 0px 6px;
    display: block;
    font-size: 14px;
	margin-left: auto;
	margin-right: auto;
}

#logo h1 {
	text-align: left;
	padding-left: 54px;
	background: image-url("195.png") no-repeat;
	float: left;
	font-family: 'Pacifico', serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	height: 61px;
	line-height: 44px;
	margin-top: 0;
	padding-top: 0;
}

.dialog.signup {float:left;}

.dialog a, .focus a {color: #4183C4; text-decoration: none;}
.dialog a:hover {color: #4183C4; text-decoration: underline; background: none;}
.dialog a:visited {color: #4183C4; text-decoration: none;}
.focus a:hover {text-decoration: underline;}

.dialog h2 {
	font-size: 14px;
    margin: 0px 0px 2px;
    padding: 0px;
}

.focus h2 {color: #2c2d31;}
.focus p.tagline {font-size: 15px; color: #a4a5aa;}

.dialog input {
	width: 330px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 4px;
}

input[type="submit"], #user_remember_me {
	width: auto;
    padding: 6px 12px;
}

#signup_sidebar {
	width: 220px;
	float: right;
	margin-top: 28px;
	margin-left: 20px;
	color: #666;
	
    h2 {
	  font-weight: bold;
	  color: #666;
	  font-size: 20px;
	  line-height: 1.2em;
    }
    p {font-size:16px;}
    ul#advantages { 
	  list-style-type:none;
	  padding:0px;
	  margin:0px;
	  font-size: 16px;
	  line-height: 2em;
	}
    #advantages li {
	  list-style-type:none;
	  background: image-url("check.png");
	  background-size:12px 12px;
	  background-repeat:no-repeat;
	  background-position:0px 10px; 
	  padding-left:20px;
	}
}