@import "style";
@import "variables";

body { 
	background: #f2f2f2;
}

#container {
	width:640px;
	margin-top:4em;
	margin-left:auto; 
	margin-right:auto;
 }

.dialog {
	width: 340px;
    padding: 15px 30px;
    @include rounded-corners(5px);
    background-color: #fff;
    -webkit-box-shadow: #999 0px 0px 6px;
    -moz-box-shadow: #999 0px 0px 6px;
    box-shadow: #999 0px 0px 6px;
    display: block;
    font-size: 14px;
	margin-left: auto;
	margin-right:auto;

}
.dialog.signup {float:left;}

.dialog a {color: #4183C4; text-decoration: none;}
.dialog a:hover {color: #4183C4; text-decoration: underline; background: none;}
.dialog a:visited {color: #4183C4; text-decoration: none;}

.dialog h2 {
	font-size: 14px;
    margin: 0px 0px 2px;
    padding: 0px;
}

.dialog input {
	width: 330px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 4px;
}

input[type="submit"], #user_remember_me {
	width: auto;
    padding: 6px 12px;
}

#signup_sidebar {
	width: 220px;
	float: right;
	margin-top: 28px;
	margin-left: 20px;
	color: #666;
	
    h2 {
	  font-weight: bold;
	  color: #666;
	  font-size: 20px;
	  line-height: 1.2em;
    }
    p {font-size:16px;}
    ul#advantages { 
	  list-style-type:none;
	  padding:0px;
	  margin:0px;
	  font-size: 16px;
	  line-height: 2em;
	}
    #advantages li {
	  list-style-type:none;
	  background: image-url("check.png");
	  background-size:12px 12px;
	  background-repeat:no-repeat;
	  background-position:0px 10px; 
	  padding-left:20px;
	}
}