@import "style";

body { 
  background: #f2f2f2;
}

.dialog {
  width: 340px;
  padding: 15px 30px;
  margin: 4em auto 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: #999 0px 0px 6px;
  -moz-box-shadow: #999 0px 0px 6px;
  box-shadow: #999 0px 0px 6px;
  display: block;
  font-size: 14px;
}

.dialog a {color: #4183C4; text-decoration: none;}
.dialog a:hover {color: #4183C4; text-decoration: underline; background: none;}
.dialog a:visited {color: #4183C4; text-decoration: none;}

.dialog h2 {
  font-size: 14px;
  margin: 0px 0px 2px;
  padding: 0px;
}

.dialog input {
  width: 330px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 4px;
}

input[type="submit"], #user_remember_me {
  width: auto;
  padding: 6px 12px;
}