.payments_total td {
	border-top: 1px solid #d8d8d8;
	font-weight: bold;
}

.payments_balance {
	font-weight: bold;
}

#payments_table td {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	a { color: #f26535; }
}