/* Projects Index */
#open-projects {
	width: 880px;
	margin-left: auto;
	margin-right: auto;
}

#closed-projects {
	clear: both;
}

#hide_closed {
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	color: #A3A5AA;
}

#hide_closed:hover {
	background: none;
	#text-decoration: underline;
	color: inherit;
}

/* Projects Show */
#project-title {
	line-height: 18px;
}

#meta {
	margin-bottom: 40px;
	background: #F1F1F3;
	@include rounded-corners(3px);
	padding: 5px;
	display: inline;
	float: left;
	width: 870px;
}

#project-description, #customer-note {
	height: 120px;
}

#description-intro {
	margin-top: 8px;
}

#project-description p, #customer-note p {
	margin-bottom: 0;
}

#project-description input, #customer-note input {
	margin-bottom: 6;
}

#description {
	margin-bottom: 0;
}

#project-description textarea, #customer-note textarea {
	width: 100%;
	height: 100px;
}

#activity_search {
	padding: 6px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #BEDCE7;
	background: #EAF2F5 image-url("info_background.gif") no-repeat;
}

form #activity_search {
	margin-bottom: 0;
}

.status {
	float: right;
	display: block;
	padding: 7px 10px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
	@include rounded-corners(3px);
	margin-top: -7px;
}

.status.open {
	background: #6CC644;
}

.status.closed {
	background: #666;
}

.status.internal {
	background: #000;
	margin-left: 10px;
}

#hours-per-day-notice {
	background-color: #ffe3e2;
	color: #c00;
}

#billing-scenario {
	margin-left: 105px;
}

/* Projects Edit */
#project_title, #project_description {
	width: 580px;
}