@import "variables";
@import "table";
@import "invoices";
@import "jquery.tipsy";

body { 
	margin-right: auto; 
	margin-left: auto; 
	color: #2c2d31;
	background-color: #fdfdfd;
	width: 910px;
	margin-left: auto;
	margin-right: auto;
}

body, p, ol, ul, td, h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

a { color: #333; }
a:visited { color: #333; }
a:hover { color: #eaeaea; background-color: #333; }

div.field, div.actions {
	margin-bottom: 10px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 14px;
	margin: 0px 0px 2px;
	padding: 0px;
}

img {
	border: none;
}

.notice {
	background-color: #ddfab9;
	border: 1px solid #c3e09f;
	color: #617f41;
	padding: 4px;
	margin-bottom: 10px;
}

.info {
	border: 1px solid #BEDCE7;
	padding: 3px;
	background: #EAF2F5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

p.info {
	padding-left: 4px;
	font-size: 11px;
}

/* Header */
#header {
	padding: 0;
	height: 125px;
	display: block;
	color: #5E6066;
	width: 910px;
	margin-top: 45px;
	margin-bottom: 20px;
	position: relative;

    h1 {
	font-size: 30px;
	line-height: 30px;
    }

    a {
	color: #5E6066;
	text-decoration: none;
	padding: 2px;
	
     	&:hover {
	       color: #f26535;
	       background: none;
        }
     }
}

#intro {
	padding: 5px;
	margin-top: 30px;

    h2 {
	font-weight: normal;
    }
}

#actions {
	float: right;
	text-align: right;
	height: 30px;
}

#actions img {
	vertical-align: middle;
	height: 30px;
	margin-right: 5px;
}

#actions a {
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
}

#main-content {
	background-color: #f3f3f3;
	width: 900px;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 5px;
}

#content {
	padding: 10px;
	display: block;
	background-color: #ffffff;
	border: 1px solid #cbcecf;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#footer {
	margin-top: 25px;
	width: 910px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
	p {
	   font-size: 13px;
	}
	
	a {
		color: #f26535;
		text-decoration: none;
		background: none;
		
		&:hover {
			color: #5E6066;
		}	
	}	
}

.approved_report {
	font-size: 13px;
	font-weight: normal;
	background-color: #5e6066;
	color: #fdfdfd;
	padding: 3px;
	@include rounded-corners(4px);
	letter-spacing: 4px;
}

#header a.approve_report {
	@include blue_on_blue;
	margin-left: 4px;
	color: #f26535;
	@include rounded-corners(3px);
	
	&:hover { 
		color: #f26535;
		text-decoration: underline;
	}
}

#total_report {
	float:right;
}