body { 
	margin-right: auto; 
	margin-left: auto; 
	color: #2C2D31;
	background-color: #fdfdfd;
	width: 910px;
	margin-left: auto;
	margin-right: auto;
}

body, p, ol, ul, td, h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

a { color: #333; }
a:visited { color: #333; }
a:hover { color: #eaeaea; background-color: #333; }

div.field, div.actions {
	margin-bottom: 10px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 14px;
	margin: 0px 0px 2px;
	padding: 0px;
}

img {
	border: none;
}

.notice {
	background-color: #ddfab9;
	border: 1px solid #c3e09f;
	color: #617f41;
	padding: 4px;
	margin-bottom: 10px;
}

.info {
	border: 1px solid #BEDCE7;
	padding: 3px;
	background: #EAF2F5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

p.info {
	padding-left: 4px;
	font-size: 11px;
}

/* Header */
#header {
	padding: 0;
	height: 125px;
	display: block;
	color: #5E6066;
	width: 910px;
	margin-top: 45px;
	margin-bottom: 20px;
	position: relative;
}

#header h1 {
	font-size: 30px;
	line-height: 30px;
}

#header a, #footer a {
	color: #5E6066;
	text-decoration: none;
	padding: 2px;
}

#header a:hover, #footer a:hover {
	color: #f26535;
	background: none;
}

#intro {
	padding: 5px;
	margin-top: 30px;
}

#intro h2 {
	font-weight: normal;
}

#actions {
	float: right;
	text-align: right;
	height: 30px;
}

#actions img {
	vertical-align: middle;
	height: 30px;
	margin-right: 5px;
}

#actions a {
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
}

#main-content {
	background-color: #f3f3f3;
	width: 900px;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 5px;
}

#content {
	padding: 10px;
	display: block;
	background-color: #ffffff;
	border: 1px solid #cbcecf;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#footer {
	margin-top: 25px;
	width: 910px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#total_report {
	float:right;
}

/* This is a table */
table {
	font-size: 90%;
	margin-bottom: 20px;
	width: 100%;
	border-spacing: 0px;
}

table.borders {
	border: 1px solid #D8D8D8;	
}

table.borders tr {
	background: #F8F8F8 image-url("row_bg.png") repeat-x 0px 100%;	
}

table.activities {
	border: none;	
}

tbody {
	border-color: inherit;
	display: table-row-group;
	vertical-align: middle;
}

table th {
	background-color: #EAEAEA;
	border-bottom: 1px solid #D8D8D8;
	color: #999;
	font-weight: normal;
	padding: 0.5em 0.3em;
	text-align: left;
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

table.activities tr {
	border-color: inherit;
	display: table-row;
	vertical-align: inherit;
	color: #484848;
	border-bottom: 1px solid #E1E1E1;
}

table.activities td {
	color: #484848;
	border-bottom: 1px solid #E1E1E1;
}

table.activities tr {
	background: none;
}

#activity-fields input, #activity-fields select {
	margin-bottom: 0;
}

#activity-fields {
	height: 60px;
}

table td {
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	padding: 0.5em 0.3em;
}

table td a:hover {
	text-decoration: underline;
	background-color: inherit;
	color: #4183C4;
}

table td a {
	color: #4183C4;
	text-decoration: none;
}

table td a:visited  {
	color: #4183C4;
	text-decoration: none;
}

table th .sort {
	color: #999;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 17px;
	padding-left: 0;
	background-color: #eaeaea;
	font-weight: normal;
}

table th .asc {
	background-image:  image-url("arrow-up.png");
}

table th .desc {
	background-image: image-url("arrow-down.png");
}

tr.total th {
	border-top: 1px solid #D8D8D8;
	font-weight: bold;
	color: #484848;
	border-bottom: none;
}

tr.total .total_in_days {
	font-weight: normal; 
	font-size: 11px;
}

td.date {
	width: 80px;
}

td.time {
	width: 40px;
}

td.project {
	width: 190px;
}

td.actions {
	width: 60px;
	text-align: right;
	padding-right: 10px;
}

td.project_name {
	width: 440px;
}

td.project_customer {
	width: 360px;
}