@import "variables";

body { 
	color: #2c2d31;
	margin: 0;
	padding: 0;
	background-color: #fdfdfd;
}

body, p, ol, ul, td, h1, h2, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

a { 
	color: #333;
	&:visited { 
		color: #333;
	}
	&:hover { 
		color: #eaeaea; background-color: #333; 
	}
}

div.field, div.actions {
	margin-bottom: 10px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 14px;
	margin: 0px 0px 2px;
	padding: 0px;
}

img {
	border: none;
}

.bold {
	font-weight: bold;
}

/* Header */
header {
	background: white;
	padding: 10px;
	height: 125px;
	display: block;
	border-bottom: 1px solid #d8d8d8;
	color: #5e6066;

	a {
		color: #5e6066;
		text-decoration: none;
		padding: 2px;

		&:hover { 
			color: #f26535;
			background: none;
		}
	}
}

.subhead {
	width: 880px;
	padding-left: 0px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top:10px;

	li {
		text-decoration: none;
		display: inline;
		text-align: right;
	}
}

#logo h1 {
	text-align: left;
	padding-left: 54px;
	background: image-url("195.png") no-repeat;
	float: left;
	font-family: 'Pacifico', serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	height: 61px;
	line-height: 44px;
	margin-top: 0;
	padding-top: 0;
}

#username {
	font-weight: bold;
}

#user-info {
	float: right;
	text-align: right;	
}

/* Navbar */
#navbar {
	display: block;
	@include rounded-corners(4px);
	background-color: #2C2D31;
}

#menu {
	width: 880px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	@include rounded-corners(3px);
	font-size: 14px;
	font-family: helvetica,arial,freesans,clean,sans-serif;

	ul {
		padding: 0;
		margin: 0;
		font-size: 14px;
	}
}

#menu li {
	height: 38px;
	line-height: 38px;
	padding-right: 10px;
	display: inline;
	list-style: none;
	color: #a4a5aa;
	text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 0px;

	a {
		text-decoration: none;
		padding: 6px;
		font-size: 14px;
		color: #fff;
		text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 0px;

		&:active {
			text-decoration: none;
			color: #F36C00;
			text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0px;
		}

		&:visited {
			text-decoration: none;
			color: #fff;
		}

		&:hover {
			color: #f26535;
			text-decoration: none;
			@include rounded-corners(3px);
		}
	}
}

#menu li .current { /* current menu tab */
	color: #A4A5AA;
}

/* Sub-menu*/
#sub-menu {
	margin: 0;
	padding-bottom: 20px;
	-webkit-padding-start: 0px;
	font-size: 14px;
	line-height: 30px;
	padding-left: 0;

	li {
		text-decoration: none;
		display: inline;
		text-align: right;
		margin-left: 15px;
		float: right;
	}
}

/* Site Layout */
#main-content {
	min-height: 800px; /* change this to avoid scrollbar issue with ajax new#transactions */
	background-color: #fdfdfd;
	width: 900px;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 6px;
	padding-right: 6px;
	padding-top:10px;
	display: block;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

#content {
	width: 880px;
	padding: 10px;
	display: block;
}

.block {
	clear: both;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.column_left {
	float: left;
	width: 49%;
	padding-right: 2px;
}

.column_right.border {
	border-left: 1px solid #e0e0e0;
}

.column_right {
	float: right;
	width: 49%;
	padding-left: 10px;
}

.no-occurence {
	background-color: #fffdc1;
	text-align: center;
	border: 2px solid #dad8a0;
	@include rounded-corners(9px);
	padding: 12px;
	line-height: 300%;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;

	p {
		font-size: 16px;
		line-height: 26px;
	}
}

#activities {
	clear: right;
}

.card-entry {
	width: 925px;
	padding: 0;
	margin: 0;
}

ul.card-entries { padding-left: 0px; list-style-type: none;}
li.card.even { margin-right: 0px; }
.card {
	width: 420px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: #f1f1f3;
	@include rounded-corners(3px);
	padding: 5px;
	list-style: none;
	display: inline;
	float: left;
}

.card.active {
  background: #999;
}

.card-inner {
	background: white;
	border: 1px solid #cbcecf;
	@include rounded-corners(2px);
	padding: 20px;
	text-align: left;
	color: black;
	display: block;
	height: 69px;
}

.card-inner.customer, .card-inner.contact {
	height: 96px;
}

.card-inner.project {
	width: 795px;
	height: auto;
}

.tagline {
	margin-bottom: 0;
}

.card:hover {
	-moz-box-shadow: 0px 0px 6px #999;
	-webkit-box-shadow: 0px 0px 6px #999;
	box-shadow: 0px 0px 6px #999;
	cursor: pointer;
}

.card.contact:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: inherit;
}

.card-inner h1 {
	margin: 0;
	padding: 0;
}

.card-inner h1 a {
	text-decoration: none;
}

.card-inner h1 a:hover {
	text-decoration: none;
	background: none;
	color: inherit;
}

.occurence {
	float: left;
	width: 380px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: #f1f1f1;
	border: 1px solid #d8d8d8;
	@include rounded-corners(5px);
	padding: 14px;
	-moz-box-shadow: 0px 0px 6px #e2e2e2;
	-webkit-box-shadow: 0px 0px 6px #e2e2e2;
	box-shadow: 0px 0px 6px #e2e2e2;
}

.clear {
	clear: both;
}

.right {
	text-align: right;
}

.label {
	width: 70px;
	float: left;
	font-weight: bold;
}

.label-wide {
	width: 118px;
	float: left;
	font-weight: bold;
}

.indent_line{
	padding-left: 70px;
}

.inline-form label {
	width: 95px;
	display: block;
	float: left;
	height: 27px;
	margin-right: 10px;
}

.inline-form textarea {
	margin-bottom: 20px;
}

#project_internal {
	margin-top: 8px;
}

.mandatory {
	font-weight: bold;
}

/* Customer */
#customers {
	margin-top: 30px;
}

#customer_note {
	word-wrap: break-word;
}

.title {
	display: block;
}

#customer-info h1 {
	width: 620px;
	float: left;
	margin-top: 0;
}

.edit {
	float: right;
	width: 230px;
	position: relative;
	text-align: right;
	line-height: 24px;
}

/* Contact */
#contacts {
	clear: both;
}

.contact-info {
	border: 1px solid #d8d8d8;
	@include rounded-corners(5px);
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 14px;
	-moz-box-shadow: 0px 0px 6px #e2e2e2;
	-webkit-box-shadow: 0px 0px 6px #e2e2e2;
	box-shadow: 0px 0px 6px #e2e2e2;
	width: 380px;
	height: 120px;
	float: left;
}

/*Add transaction*/
.tab-header {
	background-color: #333;
	color: #EAEAEA;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	padding: 4px;
}

.tab-header h2 {
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	padding-left: 4px;
	font-family: 'Lucida Grande', Lucida, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.tab-content {
	background-color: #ededed;
	border: 1px solid #333;
}

#new_transaction input {
	margin-bottom: 8px;
}

#type {
	padding: 6px;
	clear: both;
}

#date {
	float: left;
	padding: 6px;
}

#description {
	float: left;
	padding: 6px;
}

#numbers {
	float: left;
	padding: 6px;
	background-color: #d8d8d8;
}

#optional {
	background-color: #fff;
	padding: 6px;
	clear: both;
}

#activity-fields input, #activity-fields select {
	margin-bottom: 0;
}

#activity-fields {
	height: 60px;
}

/* Pagination */
.pagination {
	font-size: 12px;

	a {
		text-decoration: none;

		&:hover {
			background-color: none;
		}
	}
}

.page, .first, .last, .prev, .next {
	border: 1px solid #eaeaea;
	margin-right: 8px;
	padding: 3px;
	padding-left: 7px;
}

.last {
	margin-right: 0;
}

.page:hover, .first:hover, .last:hover, .prev:hover, .next:hover {
	background-color: #eaeaea;
}

.page.current {
	border-color: #eaeaea;
	color: #eaeaea;
	background-color: #2c2d31;
	text-decoration: none;
	font-weight: normal;
}

.page a {
	text-decoration: none;
}

.page a:hover, .first a:hover, .last a:hover, .prev a:hover, .next a:hover {
	background: none;
	color: inherit;
}


/* Form */
input, textarea {
	font-size: 14px;
	margin-bottom: 20px;
	padding: 3px;
}

textarea {
	height: 125px;
	width: 580px;
}

.actions input {
	width: auto;
}

.field-section {
	background-color: #e0d0ea;
	padding: 10px;
	margin-bottom: 14px;
	position: relative;
}

div.field {
	margin-bottom: 0px;
}

#account_fiscal_end_day, #account_fiscal_end_month, #account_localization {
	margin-bottom:10px;
}

/* Submit button */
.submit input {
	@include rounded-corners(15px);
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	border: 1px solid #bbbbbb;
	color: #464646;
	background: #f2f2f2 image-url("white-grad.png") repeat-x scroll left top;
	cursor: pointer;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size: 14px !important;
	line-height: 16px;
	padding: 6px 12px;
	text-decoration: none;
	width: auto;

	&:hover {
		border-color: #666;
		color: black;
	}

	&:active {
		background: #eeeeee image-url("white-grad-active.png") repeat-x scroll 0% 0%;
	}
	&:disabled {border-color: #bbbbbb; color: #464646; cursor: default;}
}

.small.submit input {
	font-size: 12px !important;
	line-height: 12px;
	padding: 4px 10px;
	margin-bottom: 0;
	margin-left: 0;
}

.extra {
	border-top: 1px dashed #d8d8d8;
	padding-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;

	a {
		color: #03C;
		&:hover {color: #03C;}
		&:visited {color: #03C;}
	}
}

p.submit {
	margin-left: 105px;
}

p.submit.left {
	margin-left: 0;
}

.markdown {
	height: 27px;
}

/* Settings tabs */
#settings {
	border-top: 1px solid #000;
}

#global .field-section input {
	margin-bottom: 0;
}

select {
	margin-bottom: 20px;	
}

#settings .column {
	float: left;
	width: 50%;
	margin: auto;
}

.floatr { float: right; }
.floatl { float: left; }
.date { width: 105px; }