@import "variables";

.expense, .income {
	padding: 4px;
    @include rounded-corners(3px);
    display: block;
    width: 60px;
    text-align: center;
}

.expense {
	background: #eaf2f5;
}

.income {
    background: #e0faec;
}

#transactions-search {
	height: 30px;
	line-height: 40px;
	margin-bottom: 10px;
}

#transactions_search {
	margin-bottom: 0;
	height: 30px;
}
#transactions-advanced-search {
	padding: 6px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #BEDCE7;
	background: #EAF2F5 image-url("info_background.gif") no-repeat;
}

#transaction_note {
	width: 580px;
}

.receipt_top {
	background: image-url("receipt_top.png") no-repeat;
	width: 702px;
	height: 38px;
}

.receipt_mid {
	background: image-url("receipt_mid.png") repeat-y;
	width: 702px;
	text-indent: 64px;
	
	.type {
		float: right;
		padding-right: 20px;
		font-weight: bold;
	}
	
	p {
		color: #5E6066;
		line-height: 21px;
		font-size: 13px;
		position: relative;
		margin-bottom: 21px;
	}
	
	p:first-child {
		margin-top: 0;
	}
	
	p:last-child {
		margin-bottom: 0;
	}
	
	a {
		text-decoration: none;
		color: #5E6066;
	}
		
	a:hover {
		text-decoration: none;
		color: #f26535;
		background: none;
	}
}

.receipt_bot {
	background: image-url("receipt_bot.png") no-repeat;
	width: 702px;
	height: 56px;
	margin-left: -4px;
}

/* Quick Transaction */
.transaction-fields.row-one { background: #fafafa; }
#quick-transaction {
	margin-bottom: 45px;
}

#transaction_project_id {
	width: 215px;
	margin-bottom: 5px;
}

.total_right {
	float: right;
}
/* Quick activity */
/* Firefox fix */
#transaction-fields input {
	font-size: inherit;
	
	&:tr {
		vertical-align:top;
	}
}

input#new_transaction_date {
	max-width: 96px;
}

input.numbers {
	width: 90px;
}
input#transaction_note {
	max-width: 600px;
}

/* Transaction new */
/* Firefox fix */
input#note {
	max-width: 600px;
}