/* Variables */ 
@mixin rounded-corners($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin blue_on_blue {
	color: #4183C4;
	padding: 3px 5px;
	line-height: 26px;
	font-size: 13px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	text-align: center;
	font-weight: bold;
	background: #EFF6F9;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EFF6F9',endColorstr='#DDECF3');
	background: -webkit-gradient(linear,left top,left bottom,from(#EFF6F9),to(#DDECF3));
	background: -moz-linear-gradient(top,#EFF6F9,#DDECF3);
	border: 1px solid #CEDEE5;
	@include rounded-corners(3px);
}

.medium { width: 100px; }
.short { width: 60px; }

.submit input {
	@include rounded-corners(15px);
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	border: 1px solid #bbbbbb;
	color: #464646;
	background: #f2f2f2 image-url("white-grad.png") repeat-x scroll left top;
	cursor: pointer;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size: 14px !important;
	line-height: 16px;
	padding: 6px 12px;
	text-decoration: none;
	width: auto;

	&:hover {
		border-color: #666;
		color: black;
	}

	&:active {
		background: #eeeeee image-url("white-grad-active.png") repeat-x scroll 0% 0%;
	}
	&:disabled {border-color: #bbbbbb; color: #464646; cursor: default;}
}

.notice {
	background-color: #ddfab9;
	border: 1px solid #c3e09f;
	color: #617f41;
	padding: 4px;
	margin-bottom: 10px;
}

.warning {
	background: #DF4338;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #E96050), color-stop(100%, #DF4338));
	background-image: -webkit-linear-gradient(#E96050,#DF4338);
	background-image: -moz-linear-gradient(#E96050,#DF4338);
	background-image: -o-linear-gradient(#E96050,#DF4338);
	background-image: linear-gradient(#E96050,#DF4338);
	@include rounded-corners(4px);
	text-align: center;
	padding: 4px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;

	 a {
		line-height: 20px;
		color: yellow;
		text-decoration: none;
		}
	a:hover { 
		background: none; 
		text-decoration: underline; 
		}
}

.alert, #error_explanation {
	background-color: #ffe3e2;
	border: 1px solid #efb1af;
	color: #c00;
	padding: 4px;
	margin-bottom: 20px;
}
#error_explanation ul {margin-top:0; margin-bottom:0;}

.info {
	border: 1px solid #bedce7;
	padding: 3px;
	background: #eaf2f5 image-url("info_background.gif") repeat;
}

p.info {
	padding-left: 4px;
	font-size: 12px;
}

.active, .inactive {
	color: #fff;
	padding: 4px;
}

.active { background: #6cc644; }
.inactive { background: #f26535; }
.field_with_errors label { color: #c00; }
.field_with_errors { display: inline; }

.buttonorange {
	padding: 6px 12px;
	text-decoration: none;
	border: 1px solid;
	border-color: #E3AE43;
	border-top-color: #F0C851;
	border-bottom-color: #E0A235;
	display: inline-block;
	line-height: 16px;
	color: #895B2C;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	text-decoration: none !important;
	@include rounded-corners(5px);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #FAE37A),color-stop(1, #F6CB4F));
	background: -moz-linear-gradient(center top,#FAE37A 20%,#F6CB4F 100%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3) /*Top*/, inset 0 0 2px rgba(255, 255, 255, .3) /*Shine*/, 0 1px 2px rgba(0, 0, 0, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3) /*Top*/, inset 0 0 2px rgba(255, 255, 255, .3) /*Shine*/, 0 1px 2px rgba(0, 0, 0, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3) /*Top*/, inset 0 0 2px rgba(255, 255, 255, .3) /*Shine*/, 0 1px 2px rgba(0, 0, 0, .29) /*Shadow*/;

	&:hover {
		background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #f6cb4f),color-stop(1, #fae37a));
		background: -moz-linear-gradient(center top, #f6cb4f 20%, #fae37a 100%);
		color: #895B2C;
	}

	&:visited {
		color: #895B2C;
	}

	a {
		text-decoration: none;
		background: none;
		color: #895B2C;    
	}
}

.buttonorange.inactive {
	border: 1px solid #bbbbbb;
	background: #f2f2f2;
}

p.buttonorange.inactive {
	color: #464646;
}