<% unless @transaction.errors.any? %>
  <% if @is_quick %>
    window.location = "<%= transactions_url %>";
  <% else %>
    $('#transaction_project_id').reset();
    $("#transactions").html("<%= escape_javascript(render("transactions")) %>");
    $("#row_for_transaction_<%= @transaction.id %>").effect("highlight", {}, 1000);
  <% end %>
<% else %>
  $('<div id="transaction-error"></div>')
		.html('<div class="alert">Please fix the following errors: <%= escape_javascript @transaction.errors.full_messages.to_sentence %></div>')
		.dialog({
			autoOpen: true,
			buttons: { 'OK' : function(){ $(this).dialog("destroy").remove(); } },
			modal: true,
			show: "fade",
			hide: "fade",
    });
<% end %>