<h2>Add a Time Entry</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Description</th>
    <th></th>
  </tr>
  <tr>
    <td><%= f.date_select :date %></td>
    <td><%= f.text_field :time, :size => 4 %></td>
    <td><%= f.text_field :description, :size => 65 %></td>
    <td><%= f.submit %></td>
  </tr>
</table>