<h2>Add a Time Entry</h2>
<table class='borders'>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Description</th>
    <th></th>
  </tr>
  <tr>
    <td><%= f.text_field :date, :class => "date", :size => 12 %></td>
    <td><%= f.text_field :time, :size => 4 %></td>
    <td><%= f.text_field :description, :size => 90 %></td>
    <td><%= f.submit %></td>
  </tr>
</table>