<div id="recent-activities">

<% if current_user.activities.any? %>
<h1>Recent Activities</h1>

 <table class='activities'>
   <% current_user.activities.order("created_at DESC").limit(5).each do |activity| %>     
     <%= content_tag :tr, :id => "row_for_activity_#{activity.id}" do %>
        <%= render :partial => "activities/activity", :locals => { :activity => activity } %>
     <% end %>
   <% end %>
 </table>
</div>

<% end %>