<h1>Change your Plan</h1>

<p class="info" style="font-size:13px">You can upgrade/downgrade your plan anytime. Changes will become effective at next billing cycle.</p>
<br />

<%= form_tag(plan_path, :method => :put) do %>
  <%= label_tag :plan_id, "Select your new plan" %>
  <%= select_tag :plan_id, options_from_collection_for_select(@plans, :id, :name, current_user.plan_id) %>
  <span class="submit"><%= submit_tag "Change my Plan" %></span>
<% end %>
