<% if @current_user.activities.empty? %>
  <div class="no-occurence">
    <p>You will be able to create reports as soon as you record Activities.</p>
  </div>
<% else %>
  <div id="activity_search">
    <%= render :partial => "search_form" %>
  </div>
   <div id="activities">
  <p>Enter search criteria and hit "Create Report"</p>
</div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Reports.New.init();
  });
</script>