<div id="activity_search">
  <%= render :partial => "search_form" %>
</div>

<h1><%= @report.description %></h1>
  <div id="activities">
    <%= render :partial => 'activities' %>
  </div>
  
<script type="text/javascript" charset="utf-8">
  $(function() {
    Reports.New.init();
  });
</script>  