<!DOCTYPE>
<html>
   <head>
     <title>Projectlog</title>
     <link href="<%= Rails.root.join("app", "assets", "stylesheets", "pdf.css") %>" rel='stylesheet' type='text/css' media="all">
     <%= csrf_meta_tag %>
   </head>
 <body>
  <section id="main-content">
    <section id="content" role="main"> 
      <%= yield %>
    </section>
  </section>
 </body>
</html>